<div class="row wrapper m-0">
  <div class="col-md-10">
    <div class="text-muted"><small>Home \ Campaigns</small></div>
    <div class="page-title mt-n2"><strong>campaigns</strong></div>
  </div>
  <div class="col-md-2 pt-3">
    <a class="btn-add">Add Campaign</a>
  </div>
  
  
  <div class="col-md-12 mt-4 status-wrapper">
    <ul>
      <li [class.active]="sort_campaign_current == 0" (click)="sortStatusCampaigns(0)" class="active">All</li>
      <li [class.active]="sort_campaign_current == 3" (click)="sortStatusCampaigns(3)">Ongoing</li>
      <li [class.active]="sort_campaign_current == 1" (click)="sortStatusCampaigns(1)">Completed</li>
      <li [class.active]="sort_campaign_current == 4" (click)="sortStatusCampaigns(4)">Historical</li>
    </ul>
  </div>
  
  <div class="row col-md-12 sort-wrapper">
    <div class="col-md-6 mt-4">
      <span><small class="text-muted">123 campaigns</small></span>
      <div class="input-group">
        <span class="input-group-addon"><i class="fas fa-search"></i></span>
        <input placeholder="SEARCH" [(ngModel)]="search_campaign_txt" (keyup)="searchCampaigns()" (keydown)="searchCampaigns(false)" class="sorter" type="text">
      </div>
    </div>
    <div class="col-md-2 mt-4">
      <span><small class="text-muted">Filter by locations</small></span>
      <div class="input-group">
        <span class="input-group-addon"><i class="fas fa-map-pin"></i></span>
        <select class="sorter">
          <option value="">Maharashtra</option>
        </select>
      </div>
    </div>
    <div class="col-md-2 mt-4">
      <span><small class="text-muted">Filter by campaign date</small></span>
      <div class="input-group">
        <span class="input-group-addon"><i class="fas fa-calendar"></i></span>
        <select class="sorter">
          <option value="">Last Month</option>
        </select>
      </div>
    </div>
    <div class="col-md-2 mt-4">
      <span><small class="text-muted">Sort by</small></span>
      <div class="input-group">
        <select class="sorter">
          <option value="">Completed first</option>
        </select>
      </div>
    </div>
  </div>
  
  <ng-container *ngIf="campaigns; else loading">
    <!-- Campaign cards start -->
    <section class="w-100 p-4 campaign-cards-wrapper">
      <div class="campaign-cards-container">
        <table class="w-100">
          <thead>
            <tr>
              <th colspan="2"><span class="clickable" (click)="sortAlphabetically()"><small class="text-muted">Name<i
                class="fas fa-sort ml-1"></i></small></span></th>
                <th><span class="clickable pl-3" (click)="sortDuration()"><small class="text-muted">Duration<i
                  class="fas fa-sort ml-1"></i></small></span>
                </th>
                <th colspan="3"><span class="clickable pl-3"  (click)="sortStatusAlphabetically()"><small class="text-muted">Status<i
                  class="fas fa-sort ml-1"></i></small></span></th>
                </tr>
              </thead>
              <tbody>
                <ng-container *ngIf="campaigns.length === 0">
                  <tr>
                    <td class="pt-3 small text-muted" colspan="6">
                      No record found
                    </td>
                  </tr>
                </ng-container>
                
                <ng-container *ngFor="let campaign of campaigns  | paginate: { itemsPerPage: 10, currentPage: paginator }">
                  
                  <tr class="campaign-card">
                    <td class="first"><img [src]="'assets/' + campaign.thumbnail" alt="Billboard thumbnail"></td>
                    <td class="p-3 second">{{campaign.description}}
                      <ng-container *ngIf="campaign.modification_count > 0">
                        <div class="modification-notification small"><i
                          class="fas fa-exclamation-triangle text-danger mr-1"></i>
                          <span class="text-info">
                            Modified {{campaign.modification_count}}
                            time{{campaign.modification_count > 1 ? 's' : ''}}
                          </span>
                        </div>
                      </ng-container>
                    </td>
                    <td class="p-3 third text-muted">{{dateDisplayHandler(campaign)}}</td>
                    <td class="p-3 fourth text-muted">
                      <span [ngSwitch]="campaign.status">
                        <span *ngSwitchCase="1">
                          <i class="fas fa-folder text-success mr-1"></i> Published
                        </span>
                        <span *ngSwitchCase="2">
                          <i class="fas fa-database text-warning mr-1"></i> Processing
                        </span>
                        <span *ngSwitchCase="3">
                          <i class="fas fa-clock text-danger mr-1"></i> Ongoing
                        </span>
                        <span *ngSwitchCase="4">
                          <i class="fas fa-archive text-info mr-1"></i> Archived
                        </span>
                        <span *ngSwitchDefault>
                        </span>
                      </span>
                    </td>
                    <td class="p-3 fifth text-right">
                      <span [ngSwitch]="campaign.status">
                        <span *ngSwitchCase="1">
                          <span class="report-button text-info">View Report</span>
                        </span>
                        <span *ngSwitchCase="2">
                          <span class="text-muted">
                            Available in {{howManyMoreDaysTillStart(campaign)}}
                          </span>
                          <a href="#">?</a>
                        </span>
                        <span *ngSwitchCase="3">
                          <span class="text-muted">
                            Ending in {{howManyMoreDaysTillEnd(campaign)}}
                          </span>
                        </span>
                        <span *ngSwitchCase="4">
                          <span class="report-button">
                            <i class="far fa-file-pdf text-warning mr-1"></i>
                            <span class="text-info">Download Report</span>
                          </span>
                          <a href="#" class="ml-1">?</a>
                          
                        </span>
                        <span *ngSwitchDefault>
                        </span>
                      </span>
                    </td>
                    <td class="p-3 text-right last"><i class="fas fa-ellipsis-v clickable"></i></td>
                  </tr>
                  <tr>
                    <td colspan="6" class="empty-space"></td>
                  </tr>
                </ng-container>
              </tbody>
              <tfoot *ngIf="campaigns.length > 0">
                <tr>
                  <th class="text-center" colspan="6">
                    <pagination-controls class="campaign-pagination" (pageChange)="pageChanged($event); paginator = $event"
                    (pageBoundsCorrection)="pageChanged($event)" previousLabel="" nextLabel="">
                  </pagination-controls>
                </th>
              </tr>
            </tfoot>
          </table>
        </div>
      </section>
      <!-- Campaign cards end -->
    </ng-container>
    
    <ng-template #loading>
      <app-loading></app-loading>
    </ng-template>
    
  </div>
  