@import "../../../styles_variables.scss";

.wrapper {

  font-size: .8em;

  .page-title {
    font-size: 1.5em;
    text-transform: uppercase;
  }

  .btn-add {

    background-color: #002878;
    background-image: linear-gradient(45deg, #33d9de 0%, #33d9de 55%, #243f81 100%);
    background-position: 100% 0;
    background-size: 200% 200%;
    color: white;
    font-weight: 600;
    cursor: pointer;
    border-radius: 50px;
    padding: 12px 20px;
    font-size: 1rem;
    transition: all 0.5s ease;

    &:hover {
      color: #02144F;
      background-position: 0 0;
    }
  }

  .status-wrapper {
    ul {
      list-style: none;
      margin-left: -38px;

      li {
        cursor: pointer;
        font-weight: 600;
        display: inline-block;
        padding: 5px 10px;
        border: 1px solid inherit;
        color: grey;
        opacity: .7;
        margin-right: 10px;
        border-radius: 40px;

        &.active {
          color: #000;
          opacity: 1;
          border: $site-border;
        }
      }
    }
  }

  .sort-wrapper {

    .input-group-addon {
      border-bottom: $site-border;
      padding: 0 5px;
      font-size: 10px;
      margin-top: 3px;
      opacity: .6;
    }

    .sorter {
      border-top: none;
      border-left: none;
      border-right: none;
      border-bottom: $site-border;
      width: 80%;
      border-radius: 0px !important;
      -webkit-appearance: none;
      -webkit-border-radius: 0px;
      background-color: inherit;

      &:focus {
        outline: none;
      }
    }

  }

  .clickable {
    cursor: pointer;
  }


  .campaign-cards-wrapper {
    overflow-x: auto;

    .campaign-cards-container {
      min-width: 750px;
    }

    .campaign-card {
      td {
        font-size: smaller;
        background-color: white;

        &.first {
          min-width: 50px;
          width: 50px;
          border-top-left-radius: 10px;
          border-bottom-left-radius: 10px;

          img {
            width: 100%;
            height: 50px;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;

          }
        }

        &.second {
          width: 45%;
          position: relative;

          .modification-notification {
            position: absolute;
            right: -70px;
            bottom: -10px;
            padding: 10px 10px 5px 10px;
            border-radius: 5px;
            background-color: white;

            &:after,
            &:before {
              content: '';
              position: absolute;
              background-color: white;
              border-radius: -35px;
              height: 10px;
              width: 10px;
              transform: rotate(45deg);
            }

            &:before {
              left: -5px;
            }

            &:after {
              right: -5px;
            }
          }
        }

        &.third,
        &.fifth {
          min-width: 150px;
        }

        &.fourth {
          min-width: 100px;
        }

        &.last {
          width: 20px;
          border-top-right-radius: 10px;
          border-bottom-right-radius: 10px;
        }

        .report-button {
          cursor: pointer;
          padding: 5px 25px;
          border-radius: 30px;
          border: $site-border;
        }

      }
    }

    .empty-space {
      height: 30px;
    }
  }
}


//Pagination style
// .ngx-pagination .current {
//   background: red !important;
//   opacity: .4 !important;
// }

// .my-pagination /deep/ .ngx-pagination .current {
//   background: red;
// }
