<div class="chat-open-button">
  <i class="fas fa-comment-alt"></i>
</div>


<!-- Footer -->
<section id="footer" class="p-5">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center text-muted small">
        <div>
          <ul>
            <li><a routerLink="">Glossary</a></li>
            <li><a routerLink="">Knowledge Base</a></li>
            <li><a routerLink="">Terms & Conditions</a></li>
            <li><a routerLink="">Privacy Policy</a></li>
            <li><a routerLink="">Support</a></li>
          </ul>
        </div>
        <div>
          <ul>
            <li><a routerLink="">&copy; MovingWalls 2019</a></li>
            <li><a routerLink="">All right reserved</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ./Footer -->
