@import "../../styles_variables.scss";



.chat-open-button {
  position: fixed;
  bottom: 100px;
  right: 40px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  box-shadow: 0 1px 6px rgba(0, 0, 0, .4);
  text-align: center;
  line-height: 70px;
  background-color: #274B88;
  transition: .1s all ease;
  cursor: pointer;

  i {
    font-size: 30px;
    color: #fff;
  }

  &:hover {
    transform: scale(1.2);
  }

  &:active {
    transform: scale(.9);
  }

}


#footer {
  border-top: $site-border;

  ul {
    list-style: none;

    li {
      display: inline;
      font-weight: 500;
      opacity: .7;
      padding-right: 25px;

      a {
        color: grey;
      }

      a:hover {
        text-decoration: none;
      }
    }
  }
}
