@import "../../styles_variables.scss";

.navbar {
  border-bottom: $site-border;

  .nav-item {
    .nav-link {
      font-size: 18px;
      padding: 0px 10px;
    }
  }
}

.pp {
  width: 25px;
  height: 25px;
}

.company-logo {
  height: 35px;
}

.notification-container {
  position: relative;

  .reddot {
    position: absolute;
    width: 5px;
    top: 3px;
    right: 5px;
    background-color: red;
    height: 5px;
    border-radius: 50%;
  }
}

.dropdown-toggle::after {
  display: none;
}

.dropdown-menu {
  margin-top: 25px;
  padding: 15px 0;
  right: 0 !important;
  left: auto !important;
  border: $site-border;
}

.dropdown-menu:after {
  position: absolute;
  right: 10px;
  top: -10px;
  content: '';
  height: 20px;
  transform: rotate(45deg);
  width: 20px;
  background-color: white;
  border-top: $site-border;
  border-left: $site-border;
}

/* Mobile */
@media screen and (max-width: 500px) {

  .notification-container {
    .reddot {
      left: 15px;
    }
  }

}
