<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" href="#"><img src="assets/logo.png" class="company-logo" alt="Company logo"></a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent" *ngIf="user_details">
    <ul class="navbar-nav mr-auto"></ul>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#"><i class="fa fa-bars"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><i class="fas fa-life-ring"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link notification-container" href="#">
          <i class="far fa-bell"></i>
          <span class="reddot"></span>
        </a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle position-relative" href="#" id="navbarDropdown" role="button"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <img [src]="'assets/' + user_details.thumbnail" alt="Profile picture" class="pp">
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#"><i class="fas fa-user-edit mr-2"></i> Edit Profile</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#" (click)="logMeOut()"><i class="fas fa-sign-out-alt mr-2"></i> Log out</a>
        </div>

      </li>
    </ul>

  </div>
</nav>
