<div class="login-wrapper">
  <div class="login">
    <div class="login_image mt-5">
      <img src="assets/logo.png" alt="">
    </div>
    <div class="login_content">
      <div class="login_content_form">
        <input type="text" [(ngModel)]="credentials.username" [disabled]="processing" placeholder="Username">
      </div>
      <div class="login_content_form">
        <input type="password" [(ngModel)]="credentials.password" [disabled]="processing" placeholder="Password">
      </div>
      <div class="login_content_form text-left">
        <label for="">
          <input type="checkbox" [disabled]="processing"
            (change)="credentials.remember_me = credentials.remember_me == 0 ? 1 : 0">
          <span class="ml-1 text-muted small">
            Remember me
          </span>
        </label>
      </div>
      <button class="login_btn" [disabled]="processing" (click)="logMeIn()">
        <ng-container *ngIf="!processing">
          Login
          <i class="fas fa-long-arrow-alt-right ml-1"></i>
        </ng-container>
        <ng-container *ngIf="processing">
          <div class="spinner-grow spinner-grow-sm" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </ng-container>
      </button>
      <div class="text-danger small text-left mt-2 pl-2" *ngIf="credentials.errors.length > 0">
        <ng-container *ngIf="credentials.errors.indexOf('invalid_credentials') > -1">
          <i class="fas fa-exclamation-circle mr-2"></i>
          <span>Invalid login details</span>
        </ng-container>

        <ng-container *ngIf="credentials.errors.indexOf('incomplete_params') > -1">
          <i class="fas fa-warning mr-2"></i>
          <span>Username and password are required to proceed</span>
        </ng-container>

        <ng-container *ngIf="credentials.errors.indexOf('501_error') > -1">
          <i class="fas fa-warning mr-2"></i>
          <span>Service is currently not available</span>
        </ng-container>

      </div>
    </div>
  </div>
</div>
