.login-wrapper {
  margin-top: 100px;

  .login {
    position: relative;
    background-color: #fff;
    border-radius: 2px;
    max-width: 100%;
    width: 25rem;
    margin: 20px auto;
    padding: 16px;

    &_image {
      max-height: 100%;
      max-width: 100%;
      text-align: center;
      margin: 16px;

      & img {
        height: 75px;
        width: 150px;
        border-radius: 10px;
        box-shadow: 0 0 40px rgba(0, 0, 0, .05);
      }
    }

    &_content {
      text-align: center;
      padding: 25px 45px;
      margin: 20px auto;

      &_form {
        margin: 10px;
        display: grid;


        & input[type="text"],
        & input[type="password"] {
          padding: 16px;
          border: none;
          outline: none;
          box-shadow: 0 0 10px rgba(0, 0, 0, .125);
          border-bottom: none;
          transition: .25s all;

          &:focus {
            border-bottom: 2px solid #274B88;
            margin: 10px 0;
          }
        }
      }
    }

    &_btn {
      border: none;
      outline: none;
      text-transform: uppercase;
      letter-spacing: .21em;
      background: #274B88;

      cursor: pointer;
      border-radius: 3px;
      padding: 16px;
      width: 260px;
      color: white;

      box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
    }
  }
}



@media only screen and (max-width: 580px) {
  .login-wrapper {
    margin-top: -20px;
  }

  .login {
    width: 100%;
    padding: 16px 0;
  }

  .login_btn {
    width: 100%;
  }
}
