<app-navbar></app-navbar>
<div class="w-100 position-relative">
  <div class="wrapper">

    <div class="content">
      <div class="menu-container text-muted" [class.open]="opened">

        <div class="menu-title mb-4">
          <span class="menu-sub-title" *ngIf="opened">analyze</span>
          <span *ngIf="!opened"><i class="fas fa-bars"></i></span>
        </div>

        <div class="menu-item" (click)="gotoPage('campaigns')"
          [class.active]="['campaigns', ''].indexOf(sub_page_showing) > -1">
          <i class="fas fa-check-circle"></i>
          <span class="menu-item-text">Select Campaign</span>
        </div>

        <div class="menu-item" (click)="gotoPage('details')"
          [class.active]="['details'].indexOf(sub_page_showing) > -1">
          <i class="fas fa-th-large"></i>
          <span class="menu-item-text">Campaign Details</span>
        </div>

        <div class="menu-item" (click)="gotoPage('summary')"
          [class.active]="['summary'].indexOf(sub_page_showing) > -1">
          <i class="fas fa-chart-pie"></i>
          <span class="menu-item-text">Performance Summary</span>
        </div>

        <div class="menu-item" (click)="gotoPage('sites')" [class.active]="['sites'].indexOf(sub_page_showing) > -1">
          <i class="fas fa-globe"></i>
          <span class="menu-item-text">Sites</span>
        </div>

        <div class="menu-item" (click)="gotoPage('audience')"
          [class.active]="['audience'].indexOf(sub_page_showing) > -1">
          <i class="far fa-user"></i>
          <span class="menu-item-text">Audience</span>
        </div>


        <div class="menu-item" (click)="gotoPage('time')" [class.active]="['time'].indexOf(sub_page_showing) > -1">
          <i class="far fa-clock"></i>
          <span class="menu-item-text">Time</span>
        </div>

        <div class="menu-item" (click)="gotoPage('attribution')"
          [class.active]="['attribution'].indexOf(sub_page_showing) > -1">
          <i class="far fa-life-ring"></i>
          <span class="menu-item-text">Attribution</span>
        </div>

        <div class="menu-item" (click)="gotoPage('ads')" [class.active]="['ads'].indexOf(sub_page_showing) > -1">
          <i class="fas fa-bullhorn"></i>
          <span class="menu-item-text">Ads</span>
        </div>

        <div class="menu-item-radius mt-4" (click)="gotoPage('report')"
          [class.active]="['report'].indexOf(sub_page_showing) > -1">
          <i class="fas fa-pencil-alt"></i>
          <span class="menu-item-text">Get Custom Report</span>
        </div>

        <div class="menu-item-last p-3 mt-2" (click)="gotoPage('faq')"
          [class.active]="['faq'].indexOf(sub_page_showing) > -1">
          <i class="fa fa-question-circle mr-1" aria-hidden="true"></i>
          <span class="menu-item-text"><small><strong>FAQ & Knowledge Base</strong></small></span>
        </div>

      </div>

      <div class="main" [class.open]="opened">
        <span (click)="opened = !opened" class="corner"></span>
        <div>
          <div class="pt-4 pl-4">
            <section>
              <div [(ngSwitch)]="sub_page_showing">
                <div *ngSwitchCase="'campaigns' || ''">
                  <app-campaigns></app-campaigns>
                </div>
                <div *ngSwitchCase="'details'">
                  <app-campaigndetails></app-campaigndetails>
                </div>
                <div *ngSwitchCase="'summary'">
                  <app-performancesummary></app-performancesummary>
                </div>
                <div *ngSwitchCase="'sites'">
                  <app-sites></app-sites>
                </div>
                <div *ngSwitchCase="'audience'">
                  <app-audience></app-audience>
                </div>
                <div *ngSwitchCase="'time'">
                  <app-time></app-time>
                </div>
                <div *ngSwitchCase="'attribution'">
                  <app-attribution></app-attribution>
                </div>
                <div *ngSwitchCase="'report'">
                  <app-report></app-report>
                </div>
                <div *ngSwitchCase="'faq'">
                  <app-faq></app-faq>
                </div>
                <div *ngSwitchCase="'ads'">
                  <app-ads></app-ads>
                </div>
                <div *ngSwitchDefault>
                  <app-minipagenotfound></app-minipagenotfound>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
<app-footer></app-footer>
