@import "../../styles_variables.scss";

$side-menu-width : 200px;

.position-relative {
  position: relative;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
  transition: all 200ms ease-in-out;

  .content {
    width: 100%;
    display: flex;
    flex-direction: row;

    .menu-container {

      height: 100%;
      font-size: .7rem;
      width: 50px;

      .menu-title {
        font-size: small;
        padding: 35px 0 10px 15px;

        .menu-sub-title {
          letter-spacing: .2em;
          font-size: .9rem;
          opacity: .6;
          margin-left: 8px;
          text-transform: uppercase;
        }
      }

      .menu-item-text {
        display: none;
      }

      .menu-item {
        cursor: pointer;
        padding: 5px 0 10px 20px;
        border-bottom: $site-border;

        span {
          margin-left: 17px;
        }

        &.active {
          font-weight: 600;
          color: #02144F;
          position: relative;

          &:before {
            position: absolute;
            left: 0;
            top: 6px;
            content: '';
            width: 5px;
            background-color: #02144F;
            height: 18px;
          }
        }

      }

      .menu-item-radius {
        cursor: pointer;
        width: 90%;
        margin-left: 5%;
        border: $site-border;
        border-radius: 50px;
        padding: 10px 10px 10px 15px;

        span {
          margin-left: 5px;
        }
      }

      .menu-item-last {
        cursor: pointer;
      }

      &.open {
        width: $side-menu-width;

        .menu-item {
          &.active {
            &:after {
              position: absolute;
              right: 10px;
              bottom: 11px;
              font-size: 10px;
              content: '>';
              width: 5px;
            }
          }
        }

        .menu-item-text {
          display: inline-block;
        }
      }
    }

    .main {
      border-left: $site-border;
      position: relative;
      min-height: 1000px;
      // background-color: red;
      width: calc(100% - 75px);

      .corner {
        text-align: center;
        background: #EAF1FD;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
        border-top: $site-border;
        border-right: $site-border;
        cursor: pointer;
        border-bottom: $site-border;
        display: block;
        position: absolute;
        padding: 10px;
        top: 30px;
        left: -1px;
        width: 25px;
        height: 30px;

        &:before {
          content: 'x';
          position: absolute;
          left: 7px;
          top: 0px;
          opacity: 0;
          font-size: small;
          color: grey;
          transition: all .5s ease-in-out;
        }

        &:after {
          content: '>';
          position: absolute;
          left: 7px;
          top: 4px;
          opacity: 1;
          font-size: small;
          color: grey;
          transition: all .5s ease-in-out;
        }
      }


      &.open {
        transform: translateX($side-menu-width);
        width: calc(100% - 225px) !important;
        margin-left: -200px;

        & span {
          background: #E4EDFB;
        }

        & .corner:before {
          opacity: 1;
          left: 8px;
          top: 4px;
        }

        & .corner:after {
          opacity: 0;
          left: 20px;
          top: 4px;
        }
      }

    }
  }

}


.page_console {}
